<body class="text-center">
    <main class="form-signin">
      <form>
       <br><br><br>
        <h1 class="h3 mb-3 fw-normal"><strong>Login Credentials</strong> </h1>
    <br>
        <div class="form-floating">
          <input type="email" class="form-control" name ="email" [(ngModel)]="email">
          
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" 
          name = "password" [(ngModel)]="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <br><br><br>
        <button (click)='login()'  class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
</body>
