<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
  }
  </style>
  <div class="footer" class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">© 2021 babula@ajatus.co.in INDIA</span>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Employee Details</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="add">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="list">List of Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='register'>Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

