<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Detail of collection">
          <td>{{Detail.id}}</td>
          <td>{{Detail.Employee_Id}}</td>
          <td>{{Detail.Employee_Name}}</td>
          <td>{{Detail.Employee_Designation}}</td>
          <td><i (click)='deleteDetail(Detail.id)' class="fa fa-trash-o" style="font-size:22px"></i></td>
       
      </tr>
    </tbody>
  </table>
  

