<div class="jumbotron" style="margin:30px;">
    <br>
    <h1>
        Update Employee Details
    </h1>
    <br>
</div>

<div *ngIf="alert" class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Updated !!!</strong>
     You Have succefully updated employee detail.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<form [formGroup]="EditEmployee" >
    <div class="form-group" style="margin:30px;">
        <label >Employee Id</label>
        <input type="text" class="form-control" placeholder="Ex-0001" formControlName="Employee_Id">
    </div>
    <div class="form-group" style="margin:30px;">
        <label >Employee Name</label>
        <input type="email" class="form-control" placeholder="Ex-Shrikant" formControlName="Employee_Name" >
    </div>
    <div class="form-group" style="margin:30px;">
        <label >Employee Designation</label>
        <input type="email" class="form-control" placeholder="Android developer" formControlName="Employee_Designation">
    </div>
   
    
    <button type="submit" class="btn btn-primary" style="margin:30px;">Update</button>
</form>
